################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project4/x64/Debug
/x64/Debug
/CS230S25A_sam.normile_Project4.zip
